<html>
  <body>
    <h1>Tic-Tac-Toe <%= @mode %></h1>
    <% if @mode == 'human' %>
      <%= '<h2>Player vs Player. Fight!</h2>' %>
    <% elsif @mode == 'cpu' %>
      <%= '<h2>Player vs CPU. Good luck!</h2>' %>
    <% end %>

    <% if @grid_position && !@grid_position.empty? %>
      <%= "Your movement was #{@grid_position}." %>
    <% end %>

    <table id='grid'>
      <tr>
        <td id='a1'> <%= @grid['a1'] %> </td>
        <td id='b1'> <%= @grid['b1'] %> </td>
        <td id='c1'> <%= @grid['c1'] %> </td>
      </tr>
      <tr>
        <td id='a2'> <%= @grid['a2'] %> </td>
        <td id='b2'> <%= @grid['b2'] %> </td>
        <td id='c2'> <%= @grid['c2'] %> </td>
      </tr>
      <tr>
        <td id='a3'> <%= @grid['a3'] %> </td>
        <td id='b3'> <%= @grid['b3'] %> </td>
        <td id='c3'> <%= @grid['c3'] %> </td>
      </tr>
    </table>
    <% if @grid.has_value?(0) %>
      <form method='post' action='/game/move'>
        <label for='grid_position'>Grid position</label>
        <input type='text' name='grid_position' id='grid_position' />
        <input type='submit' value='Submit' />
      </form>
    <% end %>
    <%= @message %>
  </body>
</html>