<html>
  <body>
    <h1>TIC-TAC-TOE</h1>
    <%= @message %>

    <% if @grid_location && !@grid_location.empty? %>
      <%= "Your movement was #{@grid_location}." %>
    <% end %>

    <table id="grid">
      <tr>
        <td id='a1'> <%= @grid['a1'] %> </td>
        <td id='b1'> <%= @grid['b1'] %> </td>
        <td id='c1'> <%= @grid['c1'] %> </td>
      </tr>
      <tr>
        <td id='a2'> <%= @grid['a2'] %> </td>
        <td id='b2'> <%= @grid['b2'] %> </td>
        <td id='c2'> <%= @grid['c2'] %> </td>
      </tr>
      <tr>
        <td id='a3'> <%= @grid['a3'] %> </td>
        <td id='b3'> <%= @grid['b3'] %> </td>
        <td id='c3'> <%= @grid['c3'] %> </td>
      </tr>
    </table>

    <form method='post' action='/'>
      <label for='grid_location'>Grid Location</label>
      <input type='text' name='grid_location' id='grid_location' />
      <input type='submit' value="Submit" />
    </form>
  </body>
</html>