<html>
  <body>
    <h1>TIC-TAC-TOE</h1>
    <%= @message %>

    <% if @grid_location && !@grid_location.empty? %>
      <%= "Your movement was #{@grid_location}" %>
    <% end %>

    <table id="grid">
      <tr>
        <td> <%= @grid['1a'] %> </td>
        <td> <%= @grid['1b'] %> </td>
        <td> <%= @grid['1c'] %> </td>
      </tr>
      <tr>
        <td> <%= @grid['2a'] %> </td>
        <td> <%= @grid['2b'] %> </td>
        <td> <%= @grid['2c'] %>= @c2 %> </td>
      </tr>
      <tr>
        <td> <%= @grid['3a'] %> </td>
        <td> <%= @grid['3b'] %> </td>
        <td> <%= @grid['3c'] %> </td>
      </tr>
    </table>

    <form method='post' action='/'>
      <label for='grid_location'>Grid Location</label>
      <input type='text' name='grid_location' id='grid_location' />
      <input type='submit' value="Submit" />
    </form>
  </body>
</html>