<html>
  <body>
    <h1>TIC-TAC-TOE</h1>
    <%= @message %>

    <% if @grid_location && !@grid_location.empty? %>
      <%= "Your movement was #{@grid_location}" %>
    <% end %>

    <table id="grid">
      <tr>
        <td> <%= @grid['a1'] %> </td>
        <td> <%= @grid['b1'] %> </td>
        <td> <%= @grid['c1'] %> </td>
      </tr>
      <tr>
        <td> <%= @grid['a2'] %> </td>
        <td> <%= @grid['b2'] %> </td>
        <td> <%= @grid['c2'] %> </td>
      </tr>
      <tr>
        <td> <%= @grid['a3'] %> </td>
        <td> <%= @grid['b3'] %> </td>
        <td> <%= @grid['c3'] %> </td>
      </tr>
    </table>

    <form method='post' action='/'>
      <label for='grid_location'>Grid Location</label>
      <input type='text' name='grid_location' id='grid_location' />
      <input type='submit' value="Submit" />
    </form>
  </body>
</html>